/* Imports the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --gradient-bg-main: linear-gradient(90deg, rgba(157,180,221,1) 0%, rgba(234,133,192,1) 100%);
    --gradient-bg-1: linear-gradient(180deg, #FBE6EF, #FFB7D6);
    --gradient-bg-2: linear-gradient(180deg, #FFB7D6, #FBE6EF);
    --gradient-bg-3: linear-gradient(180deg, #FCE4EE, #B1A8D6);
    --gradient-bg-4: linear-gradient(180deg, rgba(177,168,214,1) 0%, rgba(233,134,193,1) 100%);
    --bg-footer: background-color: #FCE4EE;
    --rosa-escuro: #FF9CC7;
    --rosa-claro: #FFB7D6;
    --text-color: #ffffff;
    --text-color-2: ##FF9CC7;
    --color-00: linear-gradient(90deg, rgba(157, 180, 221, 0.397) 0%, rgba(234, 133, 192, 0.337) 100%);

    /* Extras */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

body{
    background: var(--gradient-bg-main);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background: var(--color-00);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav a{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.nav a:hover{
    color: #fff;
    transition: all 0.3s;
    border-bottom: 4px solid #fff;
}

section{
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}

span{
    color: #FFB7D6;
}

.home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about{
    background: var(--gradient-bg-4);
}
.home{
    background-image: url('../img/stars.png');
    background-position: center;
    background-size: cover;
    min-height:max-content;
    padding-bottom: 400px;
    margin-top: 1.5rem;
}
.home-img img, .about-img img{
    width: 100%;
    height: auto;
}

.home-img img{
    max-width: 640PX;
    transform: translate(0px);
    animation: float 5s ease-in-out infinite;
}

.home-content, .about-content {
    width: 45%;
}

.home-content h1, .about-content h1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.7rem;
}

.home-content h3, .about-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content p, .about-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.social-media{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.home-content .icon{
    width: 4rem;
    border-radius: 50%;
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.home-content .icon:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 20px #f7f5f59a;
    transform: scale(1.1);
}

.services{
    background: var(--gradient-bg-1);
}

.services h2{
    font-size: 2.2rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #FF9CC7;
    margin-top: 2rem;
}

.portifolio h2,
.contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.services-box {
    flex: 1 1 300px;
    max-width: 600px;
    min-width: 300px;
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.20rem var(--rosa-claro);
    background-color: var(--rosa-claro);
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 40px #5705131c;
}

.services-box img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.services-box:hover {
    border-color: var(--rosa-escuro);
    transform: scale(1.03);
}

.services-box h3 {
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /* Limita o número de linhas e oculta o excesso */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.services-box .btn {
    margin-top: 1.2rem;
    background-color: #FF9CC7;
    color: #fff;
    display: inline-block;
    padding: 0.7rem 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    overflow: hidden;
}


.btn{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 1.2rem;
    position: absolute;
    cursor: pointer;

}

.btn:link,
.btn:visited {
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-pink {
    background-color: #FF9CC7;
    color: #fff;
}

.btn::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-pink::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.portifolio {
    background: var(--gradient-bg-2);
}

.portifolio h2{
    margin-bottom: 5rem;
}

.portifolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
    gap: 1.2rem;
}

.portifolio-box{
    position: relative;
    border-radius: 0.6;
    box-shadow: 0px 20px 40px #5705131c;
    overflow: hidden;
    display: flex;
}

.portifolio-box img{
    width: 100%;
    transition: 0.5s ease;
}

.portifolio-box img:hover{
    transform: scale(1.1);
}

.portifolio-box .portifolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #FF9CC7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(40rem);
    transition: 0.5s ease;
}

.portifolio-box:hover .portifolio-layer{
    transform: translateY(0);
}

.portifolio-layer h4{
    font-size: 1.8rem;
}

.portifolio-layer p{
    margin: 0.2rem 0 0.5rem;
    /* Limita o número de linhas e oculta o excesso */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portifolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portifolio-layer a i{
    font-size: 1.2rem;
}

.contact{
    background: var(--gradient-bg-3);
}

.contact h2{
    color: #FF9CC7;
    margin-bottom: 3rem;
}
form {
    max-width: 45rem;
    margin: 0.9rem auto 2rem;
    text-align: center;
}

form .input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

form .input-box input,
form textarea {
    width: calc(50% - 0.8rem);
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ffffff25;
    border-radius: 0.5rem;
    margin-bottom: 0.4rem;
    border: none;
    box-sizing: border-box;
}

form textarea {
    width: 100%;
    resize: none;
}

form .botao {
    width: 100%;
    max-width: 12rem;
    padding: 0.7rem 1.8rem;
    background-color: #FF9CC7;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
    display: block;
    margin: 0 auto;
}

.botao:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.botao:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.botao::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    transform: scaleX(0.5) scaleY(0.5);
    transform-origin: center;
}

.botao:hover::after {
    transform: scaleX(1) scaleY(1);
    opacity: 0;
}

.botao.animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--rosa-claro);
}


/* menu hamburguer */

.menu-hamburguer {
    display: none;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1000;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: #fff;
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-0.1rem, 0.1rem);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-0.5rem, -0.5rem);
}

.nav-responsive {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 166, 215, 0.633);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.nav-responsive a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.3s ease;
}

.nav-responsive a:hover {
    background-color: #fdfafd81;
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .menu-hamburguer {
        display: block;
    }

    .menu-hamburguer .bar1, .menu-hamburguer .bar2, .menu-hamburguer .bar3 {
        background-color: #fff;
    }

    .menu-hamburguer .bar1, .menu-hamburguer .bar2, .menu-hamburguer .bar3 {
        width: 1.5rem;
        height: 0.2rem;
        margin: 0.2rem 0;
    }

    .nav-responsive {
        display: none;
    }

    .nav-responsive.open {
        display: flex;
    }
}

/* responsive */

@media (max-width: 768px) {
    form .input-box {
        flex-direction: column;
        align-items: center;
    }

    form .input-box input,
    form textarea, form a {
        width: calc(100% - 2rem);
    }
}


@media (max-width: 1200px) {
    .services-box {
        min-width: 250px;
    }
}

@media (max-width: 992px) {
    .services-box {
        min-width: 200px;
    }
}

@media (max-width: 768px) {
    .services-box {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .home, .about {
        flex-direction: column;
        align-items: flex-start;
    }

    .home-content, .about-content {
        width: 100%;
        margin-bottom: 1rem;
    }

    .home-content h1, .about-content h1 {
        font-size: 2rem;
    }

    .home-content h3, .about-content h3 {
        font-size: 1.4rem;
    }

    .home-content p, .about-content p {
        text-align: left;
    }

    .home-content .icon img, .about-content .icons img {
        width: 2rem;
        margin-top: 1.9rem;
    }
}

@media (max-width: 768px) {
    .portifolio-container {
        grid-template-columns: 1fr;
    }

    .portifolio-box {
        margin-bottom: 1rem;
    }

    .portifolio-box .portifolio-layer {
        padding: 0 2rem;
    }

    .portifolio-box h4 {
        font-size: 1rem;
    }
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}